/* gallery */

.gallery {
	background-color: #f0f0f0;
	box-shadow:inset 0 0 10px #000000;
	position: relative; /* keep elements inside */
	overflow: hidden;
}

.gallery * {
	margin:  0px;
	padding: 0px;
}



.gallery .thumbs {
	position: relative;
	height: 120px;
	margin: 15px;
	white-space: nowrap;
}

.gallery .thumbs ul {
	list-style: none;
	display: block;
}

.gallery .thumbs ul li {
	display: inline-table;
	background-color: #ffffff;
	height: 90px;
	min-width: 120px;
	margin: 10px;
}

.gallery img.show {
	width: 900px;
	height: auto;
}

.gallery li img {

}

.gallery .gallery-control {
position: absolute;
left: 15px;
width: 40px;
height: 40px;
margin-top: -105px;
font-size: 60px;
font-weight: 100;
line-height: 30px;
color: #ffffff;
text-align: center;
background: #222222;
border: 3px solid #ffffff;
-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius: 23px;
opacity: 0.5;
filter: alpha(opacity=50);
}

.gallery .gallery-control.right {
right: 15px;
left: auto;
}

.gallery .gallery-control.right {
right: 15px;
left: auto;
}